.navbar {
    /* position: fixed;
    width: 100%;
    z-index: 12;  */
    
} 

.Darwin-logo {
    
    display: flex;
    Width: 80px;
    height: 80px;
    background-image: url(../images/darwin\ flower\ black\ BIG.png);
    background-size: cover;
    /* background-color: aquamarine; */
    margin-left: 18%;
    border: 5px solid black;
    border-radius: 50%;
}


a:hover {
    /* how to get this to apply to only certain tags? */
    
    background-color: rgba(86, 238, 238, 0.4);
    border-radius: 15px;
    transition: box-shadow .4s;
    box-shadow: 0 0 20px rgba(21, 158, 204, 0.6); 
}


.jumbotron {
    background-image: url(../images/peter-andrew-desert-render-final-edit-1.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 60px;
}

.container h1 {
    color: rgb(255, 255, 255) !important;
    font-weight: 450;
}

.container p {
    color: white;
    font-weight: 450;
}

h5 {
    text-align: center;
}

#PetePic {
    background-image: url(../images/photo-of-me-3.jpg);
    width: 200px;
    height: 200px;
    background-size: cover;
    margin-bottom: 50px;     
    border-radius: 50%;
    border: 10px rgb(45, 141, 185) solid;
    outline: 10px rgb(138, 223, 230) solid;

}

.jumbo-text-container {
    background-color: rgba(112, 205, 241, 0.9) ;
    height: 100%;
    width: 80%;
    z-index: 10;
    margin-top: 400px;
    border: 8px solid rgb(138, 223, 230);
    padding: 20px;
}

.container-fluid {
    display: flex;  /*setting a display is required to justify the content (?) */
    justify-content: center;
    /* background-color: aquamarine; */
}

.col-sm-12 {
    display: flex;
    justify-content: center;
}

.card {
    border: 10px rgb(46, 145, 175) solid;
    outline: 10px rgb(154, 243, 239) solid;
}

.cardContainer {   
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 40px;
        
}

.btn-primary {
    display: flex;
    justify-content: center;
    /* border: 10px rgb(105, 185, 223) solid; */
}

#A {
    background-image: url(../images/peter-andrew-janglebonespete-zdzisaw-beksinski-garden-of-earthly-delights-w-2394bdf6-5efa-4ecb-a0a1-78272e623571.jpg);
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#B {
    background-image: url(../images/peter-andrew-blender-still-life-render-4.jpg);
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

#C {
    background-image: url(../images/peter-andrew-sunken-king-ps-edit-2.jpg);
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

#D {
    background-image: url(../images/peter-andrew-desert-render-final-edit-1.jpg);
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}

.Skills {
    display: flex;
    flex-direction:column;
    background-color: cadetblue;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 70px;
    padding: 50px;
}

.About-me {
    background-color: aquamarine;
    margin-top: 50px; 
}

.About-me h1 {
    text-align: center;
}

.About-me p {
    text-align: center;
}

.About-me li { 
    text-align: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    width: 100%;
    height: 200px;
    margin-top: 50px;
}

.Darwin-logo-footer {
    display: flex;
    
    Width: 100px;
    height: 100px;
    background-image: url(../images/darwin\ flower\ black\ BIG.png);
    background-size: cover;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: 5px solid black;
    border-radius: 50%;
}

.footer p {
    display: flex;
    /* background-color: blue; */
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}